name: test-docs-build

# Only run this when the master branch changes
on:
  pull_request:
    branches:
      - main

# This job installs dependencies, builds the book, and pushes it to `gh-pages`
jobs:
  test-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # Install dependencies
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        pip install -r requirements.txt
        pip install mkdocs mkdocs-materials mkdocstrings[python]
    # Build the book
    - name: Build the book
      run: |
        mkdocs build ./site
